@font-face {
    font-family: '36 Days';
    src: url('assets/fonts/36Days-Regular.woff2') format('woff2'),
         url('assets/fonts/36Days-Regular.woff') format('woff'),
         url('assets/fonts/36Days-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0d0d0d;
    color: white;
    text-align: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: hidden;
}

h2 {
    color: white;
    font-size: 3.8vh;
    padding-bottom: 4vh;
    padding-top: 2vh;
}

canvas, #backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: black;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
    position: fixed;
    width: 100vw;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}

@media screen and (max-width: 750px) {
    nav {
        position: absolute;
    }
}


.nav-left, .nav-left a {
    font-size: 5vh;
    font-weight: bold;
    font-family: '36 Days', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding-left: 1vw;
    padding-right: 1vh;
}

.nav-left a:hover {
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-right {
    display: flex;
    gap: 2.5vw;
    margin-top: 2vh;
    margin-right: 1vw;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    transition: color 0.3s;
}

.nav-right a:hover {
    color: #888;
}

@media screen and (max-width: 750px) {
    .nav-right {
        padding-right: 1vw;
    }
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    text-align: left;
    margin-top: 10vh;
    padding: 0 5vw;
}

.profile-photo {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    transition: border-radius 0.3s ease;
}



.profile-photo:hover {
    border-radius: 2% !important;
}



.profile-info {
    color: white;
}

.profile-info h1 {
    font-size: 4vh;
}

.about-text {
    font-size: 2vh;
    color: #ccc;
    max-width: 50vw;
    margin-top: 1vh;
}

.resume-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #333;
    padding: 1vh 1.5vh;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 2vh;
    font-size: 1.8vh;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.resume-btn:hover {
    background-color: #f5f5f5;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.download-icon {
    margin-right: 0.5vw;
    stroke: #333;
}

@media screen and (max-width: 750px) {
    .profile-container {
        margin-top: 3vh;
        flex-direction: column;
    }
    .profile-photo {
        height: 25vh;
        width: 25vh;
    }
    .profile-info h1 {
        font-size: 2.5vh;
    }
    .about-text {
        font-size: 1.7vh;
        max-width: 70vw;
    }
    .resume-btn {
        padding: 1vh 3vw;
        font-size: 1.6vh;
        margin-top: 1.5vh;
    }
}

.dice-container {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    cursor: pointer;
}

#dice-3d {
    width: 100%;
    height: 100%;
}

.content-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.projects-container {
    width: 80vw;
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    position: relative;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.projects-container::-webkit-scrollbar {
    display: none;
}

.projects-wrapper {
    display: flex;
    gap: 2vw;
    padding: 2vw;
    height: 50vh;
    perspective: 1000px;

}

.project-card {
    width: 300px;
    background: #1e1e1e;
    padding: 2vw;
    border-radius: 1vw;
    text-align: center;
    box-shadow: 0 0.5vw 1vw rgba(255, 255, 255, 0.1);
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform-style: preserve-3d;
    perspective: 1000px;   
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: perspective(1000px) translateZ(20px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: top;
    border-radius: 1vw;
    margin-bottom: 1vh;
}

.project-card h3 {
    margin: auto 0;
    font-size: 2.2vh;
    white-space: normal;
}

.project-card p {
    font-size: 2vh;
    line-height: 1.4;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    text-align: center;
    white-space: normal;
    margin: auto 0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}

.skill-item {
    display: flex;
    align-items: center;
    gap: 1vw;
    background: rgba(255, 255, 255, 0.1);
    padding: 1vw;
    border-radius: 1vw;
}

.skill-item img {
    width: 5vw;
    height: 5vw;
}

.languages {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 9vh;
}

.language-option {
    display: flex;
    align-items: center;
    background-color: #222222;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 18px;
}

.language-option img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

#contact {
    width: 100vw;
    min-height: 100vh; /* Change from height to min-height */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-bottom: 2vh; /* Add padding to leave space for the footer */
    position: relative; /* Make it a positioning context for the footer */
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0vh auto;
    gap: 6vh;
}

#contact h2 {
    margin-top: 0vh;
}

.contact-left ul {
    list-style: none;
    padding: 0;
}

.contact-left ul li {
    margin: 2vh 0;
}

.contact-left a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    transition: color 0.3s ease-in-out;
}

.contact-left a:hover {
    color: #888;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.contact-right a {
    display: flex;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
    color: white;
    font-size: 2vh;
}

.contact-right a img {
    width: 2.5vw;
    height: 2.5vw;
    filter: brightness(0) invert(1);
    transition: transform 0.2s ease-in-out;
}

.contact-right a:hover img {
    transform: scale(1.2);
}

@media screen and (max-width: 750px) {
    .contact-container {
        flex-direction: column;
        gap: 3vh;
    }
    .contact-right a img {
        width: 5vw;
        height: 5vw;
    }
    .projects-wrapper {
        height: 40vh;
    }
    .project-card {
        width: 250px;
    }
}

footer {
    position: absolute; /* Position the footer absolutely within the #contact section */
    bottom: 2vh; /* Leave a 2vh margin from the bottom */
    left: 0;
    right: 0;
    padding-top: 1vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    font-size: 1.8vh;
    color: #ccc;
    margin-bottom: 0;
    padding-bottom: 0;
}